.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}

input[type=file] {
  width: 100%;
}

.wrapper {
  padding: 20px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.lander {
  padding: 30px;
  text-align: center;
}

.lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

@media all and (min-width: 480px) {
  .login-container {
    margin: 1rem;
    padding: 120px 0;
  }

  .login-container form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.dashboard-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 20px;
}

.cards .container .avatar {
  width: 300px;
  height: auto;
}

.logout-button {
  margin-right: 20px;
}

.cards {
  padding-top: 10px;
}

.card {
  height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
